@media screen and (max-width:1399px) 
{
    html
    {
        margin: 0 auto;
        max-width: 1399px;
        width: 100%;
    }
    .container_activA
    {
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 2rem ;
        flex-shrink: 2;
        flex-grow: 2;
    }

    .imgA
    {   
        height: 190px;
    }

    .imgA img
    {
        width: 100%;
        height: 134px;
    }

    .imgA1
    {   
        height: 190px;
    }
    
    .imgA1 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA2
    {   
        height: 190px;
    }
    
    .imgA2 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA4
    {   
        height: 190px;
    }
    
    .imgA4 img
    {
        width: 100%;
        height: 134px;
    }
    .imgA5
    {   
        height: 190px;
    }
    
    .imgA5 img
    {
        width: 100%;
        height: 134px;
    }

    .tof
    {
        margin: 0 0 2rem 0;
        justify-content: center;
    }

    .cardA
    {
        width: 100%;
    }

    .cardA1
    {
        margin: 0 0 2rem 0;
    }

    .cardA3
    {
        margin: 0 0 2rem 0;
    }


}


  
@media screen and (max-width:1301px) 
{
    html
    {
        margin: 0 auto;
        max-width: 1301px;
        width: 100%;
    }

    .all_hebergement
    {
        flex-direction: column-reverse;
    }
    .container_herbegement
    {
        margin: 2rem 2rem 0 2rem ;
    }

    .container_most_popular
    {
        margin: 2rem 2rem 0 2rem ;
    }

    .container_card_popular
    {
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 2rem;
    }

    .title_activ > h3
    {
        justify-content: center;
    }

    .container_activite
    {
        display: block;
    }

    
    .container_activA
    {
        justify-content: center;
    }

    .imgA
    {   
        height: 190px;
    }

    .imgA img
    {
        width: 100%;
        height: 134px;
    }

    .imgA1
    {   
        height: 190px;
    }
    
    .imgA1 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA2
    {   
        height: 190px;
    }
    
    .imgA2 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA4
    {   
        height: 190px;
    }
    
    .imgA4 img
    {
        width: 100%;
        height: 134px;
    }
    .imgA5
    {   
        height: 190px;
    }
    
    .imgA5 img
    {
        width: 100%;
        height: 134px;
    }

    .tof
    {
        margin: 0 0 2rem 0;
        justify-content: center;
    }

    .cardA1
    {
        margin: 0 0 2rem 0;
    }

    .cardA3
    {
        margin: 0 0 2rem 0;
    }


    
}

@media screen and (max-width:1007px) 
{
    html
    {
        margin: 0 auto;
        max-width: 1007px;
        width: 100%;
    }
    
    .link_footer
    {
        justify-content: space-between;
    }

    .link
    {
        margin-top: 2rem;
    }

    .imgA
    {   
        height: 190px;
    }

    .imgA img
    {
        width: 100%;
        height: 134px;
    }

    .imgA1
    {   
        height: 190px;
    }
    
    .imgA1 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA2
    {   
        height: 190px;
    }
    
    .imgA2 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA4
    {   
        height: 190px;
    }
    
    .imgA4 img
    {
        width: 100%;
        height: 134px;
    }
    .imgA5
    {   
        height: 190px;
    }
    
    .imgA5 img
    {
        width: 100%;
        height: 134px;
    }

    .tof
    {
        margin: 0 0 2rem 0;
        justify-content: center;
    }

    .cardA1
    {
        margin: 0 0 2rem 0;
    }

    .cardA3
    {
        margin: 0 0 2rem 0;
    }


}

@media screen and (max-width:768px) 

{   
    html
    {
        margin: 0 auto;
        max-width: 768px;
        width: 100%;
    }

    .liens_activ
    {
        width: 100%;
        border-bottom: 2px solid #f2f2f2;
    }
    .liens1 a
    {
        padding: 0;
    }

    .liens1
    {
        display: flex;
        justify-content: center;
        width: 36%;
        padding: 0;
    }

    .active
    {
        position: absolute;
        top: 8%;
        left:70%;
    }

    .liens1 a:hover
    {
       border-top:none;
       border-bottom: 2px solid #0065fc;
       padding: 0 0 -7px 0;
    }

    .imgA
    {   
        height: 190px;
    }

    .imgA img
    {
        width: 100%;
        height: 134px;
    }

    .imgA1
    {   
        height: 190px;
    }
    
    .imgA1 img
    {
      
        width: 100%;
        height: 134px;
       
    }
    
    .imgA2
    {   
        height: 190px;
    }
    
    .imgA2 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA4
    {   
        height: 190px;
    }
    
    .imgA4 img
    {
        width: 100%;
        height: 134px;
    }
    .imgA5
    {   
        height: 190px;
    }
    
    .imgA5 img
    {
        width: 100%;
        height: 134px;
    }

    .tof
    {
        margin: 0 0 2rem 0;
        justify-content: center;
    }

    .cardA1
    {
        margin: 0 0 2rem 0;
    }

    .cardA3
    {
        margin: 0 0 2rem 0;
    }


}


@media screen and (max-width:865px) 
{
    html
    {
        margin: 0 auto;
        max-width: 865px;
        width: 100%;
    }
    

    .heberge
    {
        flex-direction: column;
        margin: 0 2rem 0 2rem;
    }

    .container_herbegement
    {
        flex-grow: 2; 
        width: 91%;
        margin: 2rem 2rem 0px 2rem;
    }
        
    .container
    {
        flex-direction: column;
    }

    .container_card_popular
    {
        grid-gap: 2rem;
        justify-content: center;
    }

    .container_most_popular 
    {
        margin: 2rem 2rem 0 2rem;
    }

    .card_most_popular
    {
        flex-grow: 1;
        justify-content: flex-start;
    }
  
    .heberge
    {
        flex-shrink: 2;
        flex-grow: 2;
        flex-direction: column;
    }

    .card
    {
        flex-shrink: 2;
        flex-grow: 2;
    }

    .container_activA
    {
        justify-content: center;
    }

    .img img
    {
       width: 98.6%;
    }

    .imgA
    {   
        height: 190px;
    }

    .imgA img
    {
        width: 100%;
        height: 134px;
    }

    .imgA1
    {   
        height: 190px;
    }
    
    .imgA1 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA2
    {   
        height: 190px;
    }
    
    .imgA2 img
    { 
        width: 100%;
        height: 134px;
    }
    
    .imgA4
    {   
        height: 190px;
    }
    
    .imgA4 img
    {
        width: 100%;
        height: 134px;
    }
    .imgA5
    {   
        height: 190px;
    }
    
    .imgA5 img
    {
        width: 100%;
        height: 134px;
    }

    .tof
    {
        margin: 0 0 2rem 0;
        justify-content: center;
    }


    .cardA1
    {
        margin: 0 0 2rem 0;
    }

    .cardA3
    {
        margin: 0 0 2rem 0;
    }


}



@media screen and (max-width:675px)
{
    .container_activA
    {
        justify-content: center;
    }

    .imgA
    {   
        height: 190px;
    }

    .imgA img
    {
        width: 100%;
        height: 134px;
    }

    .imgA1
    {   
        height: 190px;
    }
    
    .imgA1 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA2
    {   
        height: 190px;
    }
    
    .imgA2 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA4
    {   
        height: 190px;
    }
    
    .imgA4 img
    {
        width: 100%;
        height: 134px;
    }
    .imgA5
    {   
        height: 190px;
    }
    
    .imgA5 img
    {
        width: 100%;
        height: 134px;
    }

    .tof
    {
        margin: 0 0 2rem 0;
        justify-content: center;
    }

    .cardA1
    {
        margin: 0 0 2rem 0;
    }

    .cardA3
    {
        margin: 0 0 2rem 0;
    }


} 


@media screen and (max-width:489px) 
{
    html
    {
        margin: 0 auto;
        max-width: 489px;
        width: 100%;
    }

    .liens1
    {
        width: 20%;
        margin: 0 4rem 0 4rem;
    }

    .active
    {
        top: 7%;
        left: 58%;
    }

    .container_activA
    {
        justify-content: center;
    }


    .imgA
    {   
        height: 190px;
    }

    .imgA img
    {
        width: 100%;
        height: 134px;
    }

    .imgA1
    {   
        height: 190px;
    }
    
    .imgA1 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA2
    {   
        height: 190px
    }
    
    .imgA2 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA4
    {   
        height: 190px;
    }
    
    .imgA4 img
    {
        width: 100%;
        height: 134px;
    }
    .imgA5
    {   
        height: 190px;
    }
    
    .imgA5 img
    {
        width: 100%;
        height: 134px;
    }

    .tof
    {
        margin: 0 0 2rem 0;
        justify-content: center;
    }

    .cardA
    {
        width: 100%;
    }

    .cardA1
    {
        margin: 0 0 2rem 0;
    }

    .cardA3
    {
        margin: 0 0 2rem 0;
    }

}



@media screen and (max-width:458px) 
{
    html
    {
        margin: 0 auto;
        max-width: 458px;
        width: 100%;
    }

    .liens1
    {
        width: 10%;
    }

    .button_search
    {
        padding: 1rem 1rem 1rem 1rem;
        margin: 0 0 0 -1rem;
        border-radius: 1rem 1rem 1rem 1rem;
    }

    .button_search a
    {
        display: none;
    }

    .loop
    {
       display: flex;
        color:#deebff;
        padding: 0
    }

    .container_herbegement
    {
        background: transparent;
    }

    .container_activA
    {
        justify-content: center;
    }

    .imgA
    {   
        height: 190px;
    }

    .imgA img
    {
        width: 100%;
        height: 134px;
    }

    .imgA1
    {   
        height: 190px;
    }
    
    .imgA1 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA2
    {   
        height: 190px;
    }
    
    .imgA2 img
    {
        width: 100%;
        height: 134px;
    }
    
    .imgA4
    {   
        height: 190px;
    }
    
    .imgA4 img
    {
        width: 100%;
        height: 134px;
    }
    .imgA5
    {   
        height: 190px;
    }
    
    .imgA5 img
    {
        width: 100%;
        height: 134px;
    }

    .tof
    {
        margin: 0 0 2rem 0;
        justify-content: center;
    }

    .cardA1
    {
        margin: 0 0 2rem 0;
    }

    .cardA3
    {
        margin: 0 0 2rem 0;
    }


}
