*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html
{
    font-size: 100%;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
}

body
{
    margin: 0 2rem 0 2rem
}

/*-------------Navbar--------------*/

header
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#container_navbar
{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
}


#logo
  {
      margin: 2rem 0 0 0;
      transition: all 0.75s;
  }

  #logo:hover
  {
      transform: scale(1.3);
  }

  .liens_activ
  {
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.7rem 0rem 0 0;
  }

  .liens1 a
  {
      color: black;
      padding: 2.6rem 1rem 0 1rem;
     
  }
  .liens1 a:hover
  {
      color: #0065fc;
      font-weight: bold;
      border-top: 2px solid #0065fc;
     
  }

  .active a
  {
      color: #0065fc;
      font-weight: bold;
      margin: 0px 0rem 0 2rem;
 }

  /*---------------Section recherche----------------*/

.section_search
{
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    width: 100%;
}


.title_search
{
    margin: 2rem 0 0 0;
  
}

.answer_search
{
    margin: 2rem 0 2rem 0;

}

/*----------------------barre de recherche----------------------*/

.search_bar_size
{
    display:flex;
    width: 25%;
   
}

.map_img
{
    padding: 1rem;
    background: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search_area input
{
 
    padding: 1rem 0 1rem 1rem;
    border: 2px solid #f2f2f2;
    text-align:center;
    font-weight:bold;
}

.button_search 
{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0rem 1rem 0 1rem;
    background:#0065fc;
    border-radius: 0 1rem 1rem 0; 
}

.button_search > a
{

    font-weight:bold;
    text-align: center;
    color:white; 
    cursor: pointer;
}

.loop 
{
    display: none;
}

/*--Section Filtre--*/
.filter_size
{
    margin-top:2rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap: wrap;
}

.title_filter, h3
{
   margin: 0 1rem 0 0;
   align-items: center;
}
.filter_phone
{
    display: flex;
    flex-wrap: wrap;
    width: 29%;
}
.title_filter
{
    
    display: flex;
    align-items: center;
}

.filter
 {
 
border: 2px solid #f2f2f2;
 
border-radius: 2rem;
 
margin: 0rem 2rem 0 0;
 
display:flex;
 
justify-content:center;
 
align-items:center;
 }

 .filter_color
{
    padding: 1rem;
    color: #0065fc;
    background:#deebff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: all 0.75s;
}

.text_area
{
    padding: 0 1rem 0 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight: bold;
}

.filter:hover > .filter_color
{
   color:#deebff;
}
.filter:hover > .filter_color
{
    background:#0065fc;
}

/* section Info*/

.info_container
{
    margin-top:2rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
  
}

.info_color
{
    
    padding: 0.7rem 1rem 0.7rem 1rem;
    margin: 0 1rem 0 0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#0065fc;
    border:1px solid #f2f2f2;
    border-radius:50%;
}
/*section Hébergement*/

.all_hebergement
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0 2rem
  

}

.container_hebergement
{
  
    background-color: #f2f2f2;
    margin: 2rem 2rem 2rem 0rem;
    border-radius: 1rem 1rem 1rem 1rem;
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title
{
    display: flex;
    align-items: center;
    padding: 1rem 0 0 1rem;
  
}

.container
{
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0 1rem 0;
    width: 100%;
  
}

.heberge
{
    display: flex;
    justify-content: space-around;
    margin: 2rem 1rem 2rem 1rem;
}

.img
{
    
    background: url("images/hebergements/4_small/aubergelacannebiere.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 6rem;
    border-radius: 1rem 1rem 0 0;
   
}

.img1
{
   
    background: url("images/hebergements/4_small/Hotelduport.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 6rem;
    border-radius: 1rem 1rem 0 0;
}


.img3
{
   
    background: url("images/hebergements/4_small/Hotellesmouettes.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 6rem;
    border-radius: 1rem 1rem 0 0;
}

.img4
{
   
    background: url("images/hebergements/4_small/Hôtel_de_la_mer.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 6rem;
    border-radius: 1rem 1rem 0 0;
}

.img5
{
    
    background: url("images/hebergements/4_small/AubergelePanier.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 6rem;
    border-radius: 1rem 1rem 0 0;
}

.img6
{
   
    background: url("images/hebergements/4_small/chezamina.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 6rem;
    border-radius: 1rem 1rem 0 0;
}
.card
{
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 6px 10px #0000004b;
    transition: all 1s;
    width: 29%;
    height: 100%;
    cursor: pointer;
}

.card:hover
{
    transform: scale(1.1);
}

.content
{
    height: 92%;
    padding: 5px 5px  0 5px;
}


.title_card > h3
{
    margin: 1rem 0rem 1rem 1rem;
}

.title_card > p
{
    margin: 1rem 0 0 1rem;
}

span
{
    font-weight: bold;
}

.stars
{
    margin: 1rem 0 1rem 1rem;
    color:#0065fc;
}

.unstar
{
    color: #f2f2f2;
}

.affiche 
 {
   
margin: 0 0 1rem 1rem;
 }

 .affiche a
 {
     color: black;
     font-weight: bold;
 }

/*section Most_popular*/ 

.container_most_popular
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    flex:1;
    height: 100%;
}

.title_most_popular
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}
.imgA
{
    margin: 5px 5px 5px 5px;
    background: url("images/hebergements/4_small/Hoteldusoleilmalin.jpg");
    background-position: center;
    background-size: cover;
    width: 35%;
    height: 10rem;
    border-radius: 1rem 0 0 1rem;
}

.imgB
{
    margin: 5px 5px 5px 5px;
    background: url("images/hebergements/4_small/Aucoeurdel\'eau.jpg");
    background-position: center;
    background-size: cover;
    width: 35%;
    height: 10rem;
    border-radius: 1rem 0 0 1rem;
}

.imgC
{
    margin: 5px 5px 5px 5px;
    background: url("images/hebergements/4_small/Hoteltoutbleuetblanc.jpg");
    background-position: center;
    background-size: cover;
    width: 35%;
    height: 10rem;
    border-radius: 1rem 0 0 1rem;
}


.card_most_popular
{
    display: flex;
    background: white;
    margin: 2rem 1rem 1.6rem 1rem;
    border-radius:1rem 1rem 1rem 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.50s;
    cursor: pointer;
}

.card_most_popular:hover
{
    transform:scale(1.1) ;
}


.content_most_popular
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0 0 1rem;
}

.content_most_popular > p
{
    margin-bottom: 2rem;
}



.stars_most_popular
{
    color:#0065fc;
} 

/* Section activité*/


.container_title_activity
{
    margin: 4rem 0 2rem 0;

}

.container_card_activity
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
   
}
.blockAct
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.cardA
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 45%;
    background: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    cursor: pointer;
}

.imgAct0
{
  
    background: url("images/activites/3_medium/VieuxPort.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 37.125rem;
    border-radius: 1rem 1rem 0 0;
}

.imgAct3
{
  
    background: url("images/activites/3_medium/ParcNationaldesCalanques.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 37.125rem;
    border-radius: 1rem 1rem 0 0;
}

.contentA 
{
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
   
}

.contentA > p
{
    margin:0 0 1rem 1rem;
    font-weight: bold;
}



.bloc_card_Activity
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
}

.cardA1
{   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    cursor: pointer;
}

.cardA2
{   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    cursor: pointer;
}

.imgAct1
{
  
    background: url("images/activites/3_medium/FortdePomègues.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15.625rem;
    border-radius: 1rem 1rem 0 0;
}

.imgAct2
{
  
    background: url("images/activites/3_medium/IleduFrioul.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 9.375rem;
    border-radius: 1rem 1rem 0 0;
}

.cardA3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    background: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    cursor: pointer;
}

.cardA4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    cursor: pointer;
}

.imgAct3
{
    background: url("images/activites/3_medium/ParcNationaldesCalanques.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 37.125rem;
    border-radius: 1rem 1rem 0 0;
}

.imgAct4
{
    background: url("images/activites/3_medium/NotreDameDelaGarde.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.imgAct5
{
    background: url("images/activites/3_medium/ParcLonchamps.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.cardA:hover, .cardA1:hover, .cardA2:hover,
.cardA3:hover, .cardA4:hover
{
    transform: scale( 1.1);
}

/*Footer*/
.footer
{
   
    height: 100%;
    margin:  2.25rem 0 0 0;
    background: #f2f2f2;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container_link
{
   
   width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.3rem 1.3rem 1.3rem 1.3rem
}

.link_footer
{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 9rem;
}

.link_footer1, .link_footer2 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
    margin: 0 0 3.1rem 0;
}

.link_footer > a,  .link_footer1 > a, .link_footer2 > a
{
    color:black;
}

.link_footer > a:hover,  .link_footer1 > a:hover, .link_footer2 > a:hover
{
    color:#0065fc;
}
